<alert class="pe-md-5"></alert>
<form [formGroup]="form" class="d-flex">
  <div class="row align-items-center mb-4">
    <div class="col-md-4 pe-0">
      <label for="EodDate">EOD Date</label>
    </div>
    <div class="col-md-6">
      <input type="date" id="eodDate" formControlName="eodDate" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && control['eodDate'].errors }" />

      <div *ngIf="submitted && control['eodDate'].errors" class="invalid-feedback">
        <div *ngIf="control['eodDate'].errors?.['required']">Eod Date is required</div>
      </div>
    </div>
    <div class="col-md-2">
      <button (click)="search()" [disabled]="loading" role="button" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      </button>
    </div>
  </div>

  <div *ngIf="isChecker()" class="col-md-2 px-5">
    <button [disabled]="progress" (click)="authorize()" role="button" class="btn btn-warning" data-toggle="tooltip"
      data-placement="right" title="Authorize entries for this date">
      <span *ngIf="progress" class="spinner-border spinner-border-sm mr-1"></span>
      <fa-icon [icon]="faCheckDouble"></fa-icon>
    </button>
  </div>

</form>

<table class="table">
  <thead>
  <tr>
    <th>Makers</th>
    <th>Checkers</th>
    <th class="text-nowrap">DB Admin</th>
    <th class="text-nowrap">EOD Date</th>
    <th class="text-nowrap">Start Time</th>
    <th class="text-nowrap">End Time</th>
    <th>Duration</th>
    <th>TxnCount</th>
    <th class="text-nowrap">Authorized</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of summary; let i = index;">
    <td>{{ item.makers }}</td>
    <td>{{ item.checkers }}</td>
    <td>{{ item.dbas }}</td>
    <td class="text-nowrap">{{ item.eodDate | date:'dd-MMM-yy' }}</td>
    <td>{{ item.startTime }}</td>
    <td>{{ item.endTime }}</td>
    <td>{{ item.duration }}</td>
    <td>{{ item.txnCount }}</td>
    <td>
      <span class="badge" [ngClass]="{
            'bg-success': item.authStatus,
            'bg-danger': !item.authStatus
            }">
        {{ item.authStatus ? 'true' : 'false' }}
      </span>
    </td>
  </tr>
  </tbody>
</table>

<div class="form-group">
  <a type="button" class="btn btn-primary mt-4" routerLink="/dashboard/summary/{{id}}">
    Edit
  </a>
</div>
