<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="EodDate">EodDate</label>
  <div class="form-group">
    <input type="date" id="EodDate" formControlName="EodDate" class="form-control" />
  </div>

  <table class="table">
    <thead>
    <tr>
<!--      <th>S/N</th>-->
      <th>Name</th>
      <th class="text-nowrap">Start Time</th>
      <th class="text-nowrap">End Time</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="todos">
      <div formArrayName="preEodFields">
        <tr *ngFor="let preEodField of preEodFields.controls; let i = index;" [formGroupName]="i">
          <td>{{ preEodField.value.name }}</td>
          <td>
            <input type="time" formControlName="StartTime" class="form-control"/>
          </td>
          <td></td>
        </tr>
      </div>
      <div formArrayName="firstStageFields">
        <tr *ngFor="let firstStageField of firstStageFields.controls; let i = index;" [formGroupName]="i">
          <td>{{ firstStageField.value.name }}</td>
          <td>
            <input type="time" formControlName="StartTime" class="form-control"/>
          </td>
          <td>
            <input type="time" formControlName="EndTime" class="form-control"/>
          </td>
        </tr>
      </div>
      <div formArrayName="midEodFields">
        <tr *ngFor="let midEodField of midEodFields.controls; let i = index;" [formGroupName]="i">
          <td>{{ midEodField.value.name }}</td>
          <td>
            <input type="time" formControlName="StartTime" class="form-control"/>
          </td>
          <td></td>
        </tr>
      </div>
      <div formArrayName="lastStageFields">
        <tr *ngFor="let lastStageField of lastStageFields.controls; let i = index;" [formGroupName]="i">
          <td>{{ lastStageField.value.name }}</td>
          <td>
            <input type="time" formControlName="StartTime" class="form-control"/>
          </td>
          <td>
            <input type="time" formControlName="EndTime" class="form-control"/>
          </td>
          <td></td>
        </tr>
      </div>
      <div formArrayName="postEodFields">
        <tr *ngFor="let postEodField of postEodFields.controls; let i = index;" [formGroupName]="i">
          <td>{{ postEodField.value.name }}</td>
          <td>
            <input type="time" formControlName="StartTime" class="form-control"/>
          </td>
          <td></td>
        </tr>
      </div>
    </ng-container>
    </tbody>
  </table>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Submit
    </button>
  </div>

</form>
