<!--<form [formGroup]="form" (ngSubmit)="onSubmit()">-->
<!--  <div class="form-group" *ngFor="let item of items">-->
<!--    <label for="item">{{ item.name }}</label>-->
<!--    <input type="text" id="item" [formControlName]="'time'" class="form-control"/>-->

<!--&lt;!&ndash;    <div *ngIf="submitted && f['time'].errors" class="invalid-feedback">&ndash;&gt;-->
<!--&lt;!&ndash;      <div *ngIf="f['time'].errors['required']">Email is required</div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->
<!--</form>-->
