<form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex">
  <div class="row align-items-center mb-4">
    <div class="col-md-4 pe-0">
      <label for="EodDate">EOD Date</label>
    </div>
    <div class="col-md-6">
      <input type="date" id="eodDate" formControlName="eodDate" class="form-control" />
    </div>
    <div class="col-md-2">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      </button>
    </div>
  </div>
