<alert></alert>
<div class="card">
  <h4 class="card-header">Profile Users</h4>
  <div class="card-body">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

      <div class="row align-items-center mb-4">
        <div class="form-group col-md-4">
          <label for="userName">User ID</label>
          <input type="text" id="userName" [formControlName]="'userName'"
                 class="form-control" [ngClass]="{ 'is-invalid': submitted && f['userName'].errors }" />

          <div *ngIf="submitted && f['userName'].errors" class="invalid-feedback">
            <p *ngIf="f['userName'].hasError('required')">User ID is required</p>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="role">User Role</label>
          <select id="role" class="form-select" aria-label="User Role" [formControlName]="'role'"
                  [ngClass]="{ 'is-invalid': submitted && f['role'].errors }">
            <option value="">-----</option>
            <option value="Maker">Maker</option>
            <option value="Checker">Checker</option>
            <option value="Admin">Admin</option>
          </select>

          <div *ngIf="submitted && f['role'].errors" class="invalid-feedback">
            <p *ngIf="f['role'].hasError('required')">User Role is required</p>
          </div>
        </div>

        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary mt-4">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Add
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
